[Desktop Entry]
Version=1.0
Type=Application
Name=PDF Splitter
Comment=Dividi un PDF in parti di dimensione scelta
Exec=/home/andrea/Documents/PdfSplitter/dist/pdf-splitter
Icon=pdf-splitter
StartupWMClass=pdf-splitter
StartupNotify=true
Terminal=false
Categories=Office;Utility;
Keywords=pdf;split;dividi;
